<!DOCTYPE html>
<html lang="sv">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="author" content="{{page.author}}">
    <meta name="description" content="{{page.description}}">
    <meta name="keywords" content="{{page.keywords}}">
    <title>{{cappedTitle}}</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <style>
      img {
        display: block;
        max-width: 100%;
      }

      .html-preview > iframe {
        width: 100%;
        min-height: 500px;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
            <h1>{{title}}</h1>
            <h2>{{meta.name}}</h2>
            <hr>
            <p>{{description}}</p>

            {{#if labels}}
              <ul>
                {{#each labels}}
                <li><strong>{{@key}}</strong> - {{this}}</li>
                {{/each}}
              </ul>
            {{/if}}

            {{#if origin}}
            <p>Ursprungsfil(er)</p>
            <ul>
              {{#each origin}}
              <li><a href="/{{this}}.meta.html">{{this}}</a></li>
              {{/each}}
            </ul>
            {{/if}}

            {{#ifEquals extname ".html|.md|.json"}}

            <div class="html-preview">
              <p>Förhandsvisning</p>
              <iframe title="HTML innehåll" src="{{filename}}"></iframe>
            </div>
            {{/ifEquals}}

            <p>Filändelse: {{extname}}</p>

            {{#ifEquals extname ".json|.pdf"}}
              <iframe title="PDF eller JSON innehåll" src="{{filename}}"></iframe>
            {{/ifEquals}}

            {{#ifEquals extname ".jpg|.jpeg|.png"}}
              <img alt="{{description}}" src="{{filename}}">
            {{/ifEquals}}

            <a href="{{filename}}" target="_blank">Öppna i webbläsare</a>

            <a href="{{filename}}" download>Ladda ner</a>

            <a href="{{filename}}.meta.json">Se meta fil</a>

            <footer>
                <hr>
                <small>Denna publicering är automatgenererad {{meta.packagedAt}} från ver. {{meta.version}}</small>
            </footer>
          </div>
      </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
  </body>
</html>
